@use './variables' as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image:
    url('@/assets/pattern.svg'),
    linear-gradient(103deg, rgba(253, 189, 85, 1) 7.8%, rgba(249, 131, 255, 1) 100.3%);
  background-size: 300px, cover;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  display: flex;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 4px 8px;
  align-items: center;

  .app-logo {
    display: flex;
    font-size: 25px;
    margin-right: 12px;
  }

  .app-name {
    font: bold 20px $title-font;
  }
}


main {
  padding: 40px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 12px;

  .copyright {
    opacity: 0.8;
    font-style: italic;
    font-size: 14px;

    span {
      opacity: 0.8;
      font: bold 15px/1 $title-font;
      margin-left: 8px;
      margin-right: 8px;
      top: -2px;
      position: relative;
    }
  }
}

// Shared classes.
// --------------------------------------------------------
.d-flex {display: flex;}
.d-flex.align-center {align-items: center;}
.d-flex.justify-center {justify-content: center;}
.d-flex.justify-end {justify-content: flex-end;}

.message {
  padding: 6px 0;
  text-align: center;
  margin-bottom: 8px;

  &--error {
    color: #cf1616;
    background: rgba(255, 160, 160, 0.7);
  }
}

.input-field {
  border: none;
  background: rgba(255, 255, 255, 0.3);
  padding: 6px 8px;
  width: 100%;
  border-radius: 4px;
  outline: none;
  color: inherit;
}

.form-validate {
  margin-left: auto;
  margin-top: 16px;
  border: none;
  background: $primary-color;
  color: #fff;
  font-weight: bold;
  padding: 6px 20px;
  border-radius: 4px;
  outline: none;
}
