@use './variables' as *;

@font-face {
  font-family: 'title-font';
  src: url('@/assets/autography.woff2') format('woff2'),
       url('@/assets/autography.woff') format('woff');
}

h1, .title {
  font-family: $title-font;
}

p {
  font-family: $body-font;
}
